body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.911);
}

button {
    background-color: hsl(0, 0%, 83%);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    background-color: hsl(0, 0%, 93%);
}

button:active{
    background-color: hsl(0, 0%, 100%)
}

.operator {
    background-color: hsl(39, 84%, 55%);
}

.operator:hover {
    background-color: hsl(39, 84%, 65%);
}

.operator:active {
    background-color: hsl(39, 84%, 5%);
}

.operator2 {
    background-color: hsl(0, 0%, 50%);
}

.operator2:hover {
    background-color: hsl(0, 0%, 60%);
}

.operator2:active {
    background-color: hsl(0, 0%, 70%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 52px);
    grid-template-rows: repeat(5, 52px);
    padding: 5px;
}

#calculator{
    background-color: rgb(49, 49, 49);
    max-width: 220px;
    max-height: 550px;
    border-radius: 15px;
    overflow: hidden;
}

#display{
    width: 206px;
    padding: 5px;
    text-align: right;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(128, 128, 128, 0.911);
    color: white;

}